[data-component='Footer'] {
  padding: 30px 0;

  .social-networks {
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }

      a {
        font-size: 0;
        color: $dark;
        display: inline-block;

        figure {
          @include square(25px);
        }
      }
    }
  }
}
