@keyframes App-header-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

[data-component="Header"] {
  color: #FFF;
  text-align: center;
  padding: 20px;
  background-color: #222;
  position: relative; }
  [data-component="Header"] .logo {
    height: 80px;
    animation: App-header-logo-spin infinite 20s linear; }
  [data-component="Header"] .title {
    font-size: 1.5em;
    margin-bottom: 30px; }
  [data-component="Header"] .main-menu svg {
    margin-right: 10px; }
  [data-component="Header"] .main-menu ul {
    padding-left: 0;
    margin-bottom: 0; }
    [data-component="Header"] .main-menu ul li {
      display: inline-block;
      margin-right: 20px; }
      [data-component="Header"] .main-menu ul li:last-child {
        margin-right: 0; }
      [data-component="Header"] .main-menu ul li a {
        color: #FFF;
        transition: color 0.3s ease; }
        [data-component="Header"] .main-menu ul li a:hover, [data-component="Header"] .main-menu ul li a:focus, [data-component="Header"] .main-menu ul li a:active, [data-component="Header"] .main-menu ul li a.active {
          color: #61DAFB; }
  [data-component="Header"] .welcome-box {
    top: 20px;
    right: 20px; }
