@keyframes App-header-logo-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

[data-component="Header"] {
  color: #FFF;
  text-align: center;
  padding: 20px;
  background-color: #222;
  position: relative;

  .logo {
    height: 80px;
    animation: App-header-logo-spin infinite 20s linear;
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .main-menu {
    svg {
      margin-right: 10px;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #FFF;
          transition: color 0.3s ease;

          &:hover,
          &:focus,
          &:active,
          &.active {
            color: #61DAFB;
          }
        }
      }
    }
  }

  .welcome-box {
    top: 20px;
    right: 20px;
  }
}
