[data-component='Categories'] {
  li {
    button {
      width: 100%;
      border: 1px solid var(--primary);
      @include transitionAll();

      &:hover,
      &.active {
        color: #fff;
        background-color: var(--primary);
      }

      &.active {
        cursor: auto;
      }
    }

    &:first-child {
      button {
        border-radius: 4px 4px 0 0;
      }
    }

    &:last-child {
      button {
        border-radius: 0 0 4px 4px;
      }
    }

    &:not(:last-child) {
      button {
        border-bottom: 0;
      }
    }
  }
}
