[data-component="PageHeader"] {
  .icon {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
}
