@use '@/assets/scss/helpers' as *;

[data-component='Pagination'] {
  width: max-content;

  li {
    button {
      border: 1px solid $primary;
      @include transitionAll();

      &:hover,
      &.active {
        color: #fff;
        background-color: $primary;
      }

      &.active {
        cursor: auto;
      }
    }

    &:first-child {
      button {
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-child {
      button {
        border-radius: 0 4px 4px 0;
      }
    }

    &:not(:last-child) {
      button {
        border-right: 0;
      }
    }
  }
}
