@keyframes App-login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-page='auth'] {
  .logo {
    @include square(100px);
    margin-top: 50px;
    animation: App-login-logo-spin infinite 20s linear;
  }

  .disclaimer {
    font-size: 12px;
  }

  .auth-form {
    padding: 40px 40px 15px 40px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;

    .page-title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
  }
}
