@use '@/assets/scss/helpers' as *;

[data-component='Checkbox'] {
  @extend %flex-vertical-center;
  gap: 10px;
  @include size(max-content, $field-height);
  position: relative;

  &:not(:has(input:disabled)) {
    label,
    input {
      cursor: pointer;
    }
  }

  label {
    font-weight: 700;
  }

  input {
    appearance: none;
    @include square(20px, 6px);
    border: 2px solid $field-border-color;
    margin: 0;
    position: relative;

    &::after {
      content: '';
      @include square(0, 2px);
      background-color: $primary;
      @extend %absolute-center;
      @include transitionAll(0.2s);
    }

    &:checked {
      border-color: $primary;

      &::after {
        @include square(70%);
      }
    }

    &:user-invalid {
      border-color: $danger;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
