@use '@/assets/scss/helpers' as *;

[data-component='PostBody'] {
  padding: 50px 0;

  .title {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
}
