.post-item {
  text-align: center;
  margin-bottom: 50px;
}

.post-item img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

.post-item .img-placeholder {
  font-weight: 700;
  color: #FFF;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #61DAFB;
}

.post-item article {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}

.post-item article .title {
  font-size: 18px;
  font-weight: 700;
}
