/*
Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

// BOOTSTRAP
// @import "../bootstrap/custom/helpers/variables";

// HELPERS
@import "styles/helpers/helpers";

// PLUGINS
@import "styles/plugins/plugins";


/*============================== HELPER CLASSES ==============================*/

/* TEXT CONTINUED */

.text-continued {
  @extend %text-continued;
}


/* CENTER */

.center-absolute {
	@extend %center-absolute;
}

/* Horizontal center */

.center-absolute-x {
  @extend %center-absolute-x;
}

/* Vertical center */

.center-absolute-y {
  @extend %center-absolute-y;
}


/* BACKGROUND IMAGE */

/* Contain */

.bg-image-contain {
  @extend %background-image-contain;
}

/* Cover */

.bg-image-cover {
  @extend %background-image-cover;
}


/* DISABLES CURSOR ACTIONS ON THE ELEMENT */

.disabled-cursor {
  pointer-events: none;
}


/*============================== LAYOUT ==============================*/
/*==============================
GENERAL
==============================*/

/* FONTS */

/* NOME DA FONTE */

/* @font-face {
  font-family: 'Nome da Fonte';
  src: url('./assets/fonts/nome-da-fonte/webfont.eot'); IE9 Compat Modes
  src: url('./assets/fonts/nome-da-fonte/webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8
  url('./assets/fonts/nome-da-fonte/webfont.woff2') format('woff2'), Super Modern Browsers
  url('./assets/fonts/nome-da-fonte/webfont.woff') format('woff'), Pretty Modern Browsers
  url('./assets/fonts/nome-da-fonte/webfont.ttf') format('truetype'), Safari, Android, iOS
  url('./assets/fonts/nome-da-fonte/webfont.svg#svgFontName') format('svg'); Legacy iOS
} */

/* NOME DA FONTE */

/* Ultra Light */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-ultralight-webfont.woff');
} */

/* Thin */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-thin-webfont.woff');
} */

/* Regular */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-regular-webfont.woff');
} */

/* Medium */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-medium-webfont.woff');
} */

/* Semi Bold */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-semibold-webfont.woff');
} */

/* Bold */

/* @font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('./assets/fonts/nome-da-fonte/nome-da-fonte-bold-webfont.woff');
} */

/* BODY */

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #F9F9F9;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C1C8CC;
}

/* SECTION */

.page-section {
  box-sizing: content-box;
  padding: 100px 0;
}

.section-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.section-subtitle {

}

/* LINKS */

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* BUTTONS */

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* btn */

.btn:hover,
.btn:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle {
  box-shadow: none !important;
  transition: all 0.3s ease;
}

/* btn-link */

.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
  text-decoration: none;
}

/* btn-primary */

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: #59C7E5;
  border-color: #59C7E5;
}

.btn-outline-primary {
  color: $brand-primary;
  border-color: $brand-primary;
}

.btn-outline-primary:hover {
  color: #FFF;
  background-color: #59C7E5;
  border-color: #59C7E5;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #59C7E5;
  border-color: #59C7E5;
}

/* btn-secondary */

.btn-secondary {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle:focus {
  background-color: #5A82D1;
  border-color: #5A82D1;
}

.btn-outline-secondary {
  color: $brand-secondary;
  border-color: $brand-secondary;
}

.btn-outline-secondary:hover {
  color: #FFF;
  background-color: #5A82D1;
  border-color: #5A82D1;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #5A82D1;
  border-color: #5A82D1;
}

/* btn-success */

.btn-success {
  background-color: $brand-success;
  border-color: $brand-success;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle,
.show > .btn-success.dropdown-toggle:focus {
  background-color: #32B784;
  border-color: #32B784;
}

.btn-outline-success {
  color: $brand-success;
  border-color: $brand-success;
}

.btn-outline-success:hover {
  color: #FFF;
  background-color: #32B784;
  border-color: #32B784;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: #32B784;
  border-color: #32B784;
}

/* btn-info */

.btn-info {
  background-color: $brand-info;
  border-color: $brand-info;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle,
.show > .btn-info.dropdown-toggle:focus {
  background-color: #55C4D5;
  border-color: #55C4D5;
}

.btn-outline-info {
  color: $brand-info;
  border-color: $brand-info;
}

.btn-outline-info:hover {
  color: #FFF;
  background-color: #55C4D5;
  border-color: #55C4D5;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: #55C4D5;
  border-color: #55C4D5;
}

/* btn-warning */

.btn-warning {
  color: #FFF;
  background-color: $brand-warning;
  border-color: $brand-warning;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle,
.show > .btn-warning.dropdown-toggle:focus {
  color: #FFF;
  background-color: #E8A239;
  border-color: #E8A239;
}

.btn-outline-warning {
  color: $brand-warning;
  border-color: $brand-warning;
}

.btn-outline-warning:hover {
  color: #FFF;
  background-color: #E8A239;
  border-color: #E8A239;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #FFF;
  background-color: #E8A239;
  border-color: #E8A239;
}

/* btn-danger */

.btn-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle,
.show > .btn-danger.dropdown-toggle:focus {
  background-color: #E8616E;
  border-color: #E8616E;
}

.btn-outline-danger {
  color: $brand-danger;
  border-color: $brand-danger;
}

.btn-outline-danger:hover {
  color: #FFF;
  background-color: #E8616E;
  border-color: #E8616E;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  background-color: #E8616E;
  border-color: #E8616E;
}

/* btn-light */

.btn-light {
  color: #000;
  background-color: #FFF;
  border-color: #D2D9E8;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle,
.show > .btn-light.dropdown-toggle:focus {
  background-color: $brand-light;
  border-color: #D2D9E8;
}

.btn-outline-light {
  color: #FFF;
  border-color: #FFF;
}

.btn-outline-light:hover {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  background-color: $brand-light;
  border-color: $brand-light;
}

/* btn-dark */

.btn-dark {
  background-color: $brand-dark;
  border-color: $brand-dark;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle,
.show > .btn-dark.dropdown-toggle:focus {
  background-color: #23272B;
  border-color: #23272B;
}

.btn-outline-dark {
  color: $brand-dark;
  border-color: $brand-dark;
}

.btn-outline-dark:hover {
  color: #FFF;
  background-color: #23272B;
  border-color: #23272B;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  background-color: #23272B;
  border-color: #23272B;
}

/* ALERTS */

.alert-primary,
.alert-secondary,
.alert-success,
.alert-info,
.alert-warning,
.alert-danger,
/* .alert-light, */
.alert-dark {
  color: #FFF;
  border: none;
}

/* alert-primary */

.alert-primary {
  background-color: $brand-primary;
}

/* alert-secondary */

.alert-secondary {
  background-color: $brand-secondary;
}

/* alert-success */

.alert-success {
  background-color: $brand-success;
}

/* alert-info */

.alert-info {
  background-color: $brand-info;
}

/* alert-warning */

.alert-warning {
  background-color: $brand-warning;
}

/* alert-danger */

.alert-danger {
  background-color: $brand-danger;
}

/* alert-light */

.alert-light {
  background-color: $brand-light;
}

/* alert-dark */

.alert-dark {
  background-color: $brand-dark;
}

/* BADGES */

.badge-primary,
.badge-secondary,
.badge-success,
.badge-info,
.badge-warning,
.badge-danger,
/* .badge-light, */
.badge-dark {
  color: #FFF;
}

/* badge-primary */

.badge-primary {
  background-color: $brand-primary;
}

/* badge-secondary */

.badge-secondary {
  background-color: $brand-secondary;
}

/* badge-success */

.badge-success {
  background-color: $brand-success;
}

/* badge-info */

.badge-info {
  background-color: $brand-info;
}

/* badge-warning */

.badge-warning {
  background-color: $brand-warning;
}

/* badge-danger */

.badge-danger {
  background-color: $brand-danger;
}

/* badge-light */

.badge-light {
  background-color: $brand-light;
}

/* badge-dark */

.badge-dark {
  background-color: $brand-dark;
}

/* TOOLTIPS */

.tooltip-inner {
  color: #FFF;
  background-color: #000;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #000;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #000;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #000;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #000;
}

/* FORMS */

.form-group > .alert {
  margin-top: 1rem;
}

/* Input */

.form-control,
.form-control:focus {
  border-color: #D0D7E5;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #C5CBD8;
}

.form-control::-moz-placeholder {
  color: #C5CBD8;
}

.form-control[type=number]::-webkit-inner-spin-button,
.form-control[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Textarea */

textarea {
  max-width: 100%;
}

/* LIST GROUP */

.list-group .list-group-item-action.active {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.list-group .list-group-item-action.active .badge-primary {
  color: $brand-primary;
  background-color: #FFF;
}

/* PAGINATION */

.page-link {
  color: $brand-primary;

  &:hover {
    color: #59C7E5;
  }
}

.page-item.active .page-link {
  background-color: $brand-primary;
  border-color: $brand-primary;
}
