@import '../../styles/helpers/helpers';

[data-component='Footer'] {
  padding: 30px 0;

  /* SOCIAL NETWORKS */

  .social-networks {
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }

      a {
        font-size: 0px;
        @include square(25px);
        display: inline-block;

        &::before {
          content: '';
          display: block;
          @include square(100%);
          @extend %background-image-cover;
        }

        /* Facebook */

        &[href*='facebook.com']::before {
          background-image: url('../../shared/images/icons/social-networks/facebook.svg');
        }

        // /* Twitter */

        &[href*='twitter.com']::before {
          background-image: url('../../shared/images/icons/social-networks/twitter.svg');
        }

        /* Instagram */

        &[href*='instagram.com']::before {
          background-image: url('../../shared/images/icons/social-networks/instagram.svg');
        }

        /* Linkedin */

        &[href*='linkedin.com']::before {
          background-image: url('../../shared/images/icons/social-networks/linkedin.svg');
        }
      }
    }
  }
}
