.app-footer {
  padding: 30px 0;
}

/* SOCIAL NETWORKS */

.social-networks li a {
  font-size: 0px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.social-networks li:not(:last-child) {
  margin-right: 40px;
}

.social-networks a::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Facebook */

.social-networks a[href*='facebook.com']::before {
  background-image: url('/assets/img/icons/social-networks/facebook.svg');
}

/* Twitter */

.social-networks a[href*='twitter.com']::before {
  background-image: url('/assets/img/icons/social-networks/twitter.svg');
}

/* Instagram */

.social-networks a[href*='instagram.com']::before {
  background-image: url('/assets/img/icons/social-networks/instagram.svg');
}

/* Linkedin */

.social-networks a[href*='linkedin.com']::before {
  background-image: url('/assets/img/icons/social-networks/linkedin.svg');
}
