[data-component='Button'] {
  @extend %flex-center;
  gap: 10px;
  font-weight: 700;
  box-shadow: none;
  transition: background-color 0.4s ease;

  // VARIANT

  // Primary
  // Secondary
  // Base
  &.primary,
  &.secondary,
  &.base {
    width: 100%;
    border-radius: 50px;
  }

  // Primary
  &.primary {
    color: #fff;
    background-color: $primary;

    @include active-style {
      background-color: $primary-darker;
    }
  }

  // Secondary
  &.secondary {
    color: #fff;
    background-color: $secondary;

    @include active-style {
      background-color: $secondary-darker;
    }
  }

  // Base
  &.base {
    background-color: #fff;
    border: 1px solid $grey-4;

    @include active-style {
      background-color: color.adjust(#fff, $lightness: -1%);
    }
  }

  // Icon
  &.icon {
    @include square(var(--button-size));
    color: $grey-7;
    padding: 0;

    @include active-style {
      color: $dark-1;
    }

    [data-component='Icon'] {
      @include square(100%);
    }
  }

  // Icon Primary
  // Icon Secondary
  &.icon-primary,
  &.icon-secondary {
    @include square(var(--button-size));
    color: #fff;
    padding: 0;
    border-radius: 25%;

    [data-component='Icon'] {
      @include square(60%);
    }
  }

  // Icon Primary
  &.icon-primary {
    background-color: $primary;

    @include active-style {
      background-color: $primary-darker;
    }
  }

  // Icon Secondary
  &.icon-secondary {
    background-color: $secondary;

    @include active-style {
      background-color: $secondary-darker;
    }
  }
}
